body {
    padding: 0;
    margin: 0;
}

#welcome {
    text-align: center;
    font-size: 20pt;
    padding-top: 30px;
    padding-bottom: 30px;
}

.centerify {
    display: flex;
    justify-content: center;
    align-items: center;
}

#locationList ul {
    border: 1px solid black; 
    padding: 10px; 
    margin: 10px; 
    list-style-type: none; 
}

#locationList ul li {
    margin-bottom: 5px; 
    font-size: 16px;
}

.mapboxgl-popup button[onclick*="replyToUser"] {
    background-color: blue; /* Change to your desired color */
    color: white; /* Change to your desired text color */
    border: none;
    padding: 5px;
    border-radius: 1px;
    cursor: pointer;
}

.mapboxgl-popup button[onclick*="replyToUser"]:hover {
    background-color: darkblue; /* Change for hover effect */
    color: yellow;
    font-size: 14pt;
}

.mapboxgl-popup .mapboxgl-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 50px;
    transform: rotate(45deg);
    animation: pulse 1s infinite;
  }
  
  .heart:before,
  .heart:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
  }
  
  .heart:before {
    border-radius: 100px 100px 0 0;
    top: -50px;
    left: 0;
  }
  
  .heart:after {
    border-radius: 100px 100px 0 0;
    top: 0;
    left: 50px;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1) rotate(45deg);
    }
    50% {
      transform: scale(1.1) rotate(45deg);
    }
    100% {
      transform: scale(1) rotate(45deg);
    }
  }
  