body {
    padding: 0;
    margin: 0;
}

.centerify {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapboxgl-popup button[onclick*="replyToUser"] {
    background-color: blue; /* Change to your desired color */
    color: white; /* Change to your desired text color */
    border: none;
    padding: 5px;
    border-radius: 1px;
    cursor: pointer;
}

.mapboxgl-popup button[onclick*="replyToUser"]:hover {
    background-color: darkblue; /* Change for hover effect */
    color: yellow;
    font-size: 14pt;
}

.mapboxgl-popup .mapboxgl-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #moodForm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

/* Not Bavneet Styles */

#space-header {
  padding: 15% 0 0 0;
  display: flex;
  justify-content: center;
}

#space-header-actual {
  font-size: 36pt;
  font-weight: bold;
  color: #50cfe1;
}

#map-container-super {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  /* padding: 1em 2em 0 2em; */
  padding: 0em 2em 3em 2em;
}

#map-colour-container {
  display: flex;
  justify-content: center;
  background-color: rgba(137, 186, 255, 0.2);
  padding: 1em;
  width: 100%;
  border-radius: 30px;
}

#map-container {
  width: 100%;
}

#mood-form-container {
  padding-top: 80px;
  width: 80%;
  height: 80%;
}

#moodFormContent {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 30px;
  height: 80%;
}

#mood-select-exit {
  margin-left: 95%;
}

#mood-select-header {
  font-size: 24pt;
  color: black;
  margin-bottom: 20px;
}

#form {
  height: 90%;
}

#mood-select-form-actual {
  display: grid;
  height: 60%;
}

#mood-form-submit {
  bottom: 0;
  margin: 10em 40% 5em 40%;
}

#button-container {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

#space-start-message {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
}

#nearby-user {
  margin-top: 35px;
  margin-bottom: -30px;
  margin-left: 35px;
}

/* space buttons */
#space-buttons {
  height: 55px;
  display: flex;
  justify-content: center;
}

#space-buttons-inner {
  display: grid;
  grid-template-columns: repeat(2, auto);
}