/*

==+=== VISUAL INFORMATION ===+==

=== Colors ===
    #a9e7fb
    #eddb70
    #50cfe1
    #a1e599
    #f6faf1
    #B880FF

=== Misc ===

*/

/* LANDING PAGE CSS */

body {
    padding: 0;
    margin: 0;
}

/* Color Definitions */
.bg-info {
    background-color: #a9e7fb !important;
}

/* Global navbar css */
.navbar-brand {
    color: #50cfe1;
}

.navbar-brand:hover {
    color: #B880FF;
}

.nav-link:hover {
    color: #B880FF;
}

.nav-link:active {
    color: #eddb70;
}

.nav-link {
    color: #50cfe1;
}

/* Global user name Colors */
.name-goes-here {
    color: #50cfe1;
}

.footerC {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Global Navbar Colors */
.black-nav {
    color: black;
}


/*-----------------------------
            NAVBAR      
---------------------------- */

.mobile-nav {
    background: #a9e7fb;
    position: fixed;
    bottom: 15px;
    height: 65px;
    width: 90%;
    border-radius: 60px;
    display: flex;
    justify-content: space-around;
}

.bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

/* .bloc-icon-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
} */


#home-icon img {
    background-color: rgb(255, 255, 255);
    border-radius: 60%;
    padding: 0.7em;
    height: 140%;
    width: auto;
}

.bloc-icon img {
    width: 50px;
}

.bloc-icon-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.bloc-icon:active {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2em;
    border-radius: 60px;
}

#navbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* @media screen and (min-width: 600px) {
    .mobile-nav {
        display: none;
    }
} */

#review-btn {
    border-style: none;
    background: none;
}

#button-container {
    display: flex;
    justify-content: center;
}

#button-container-s {
    display: flex;
    justify-content: left;
    height: 100%;
}

#button-colour {
    color: white;
    background-color: rgba(137, 186, 255, 0.2);
    border-radius: 30px;
}

#button-colour-delete {
    color: white;
    background-color: rgba(137, 186, 255, 0.2);
    border-radius: 30px;
}

#button-colour-delete:active {
    background-color: lightpink;
    border-radius: 30px;
}

#button-colour:active {
    background-color: #50cfe1;
    border-radius: 30px;
}