/*

==+=== VISUAL INFORMATION ===+==

=== Colors ===
    #a9e7fb
    #eddb70
    #50cfe1
    #a1e599
    #f6faf1
    #B880FF

=== Misc ===

*/

/* LANDING PAGE CSS */

body {
    padding: 0;
    margin: 0;
}

/* Color Definitions */
.bg-info {
    background-color: #a9e7fb !important;
}

/* Global navbar css */
.navbar-brand {
    color: #50cfe1;
}

.navbar-brand:hover {
    color: #B880FF;
}

.nav-link:hover {
    color: #B880FF;
}

.nav-link:active {
    color: #eddb70;
}

.nav-link {
    color: #50cfe1;
}

/* Global user name Colors */
.name-goes-here {
    color: #50cfe1;
}

.footerC {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Global Navbar Colors */
.black-nav {
    color: black;
}


/*-----------------------------
            NAVBAR      
---------------------------- */ 

.mobile-nav {
    background: #F1F1F1;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-icon img {
    width: 30px;
}

/* @media screen and (min-width: 600px) {
    .mobile-nav {
        display: none;
    }
} */